<div class="cart-drawer-wrap">
  <div class="cart-drawer-overflow"></div>
  <div id="cart-drawer" class="cart-drawer {% if cart == empty %} cart-is-empty{% endif %}">
    <div class="cart-header">
      <div class="cart-title">Cart</div>
      <button class="cart-close button-hover">{% render 'icons', icon: 'icon-close' %}</button>
    </div>
    <div class="cart-body">

      {% assign free_gift_threshold = settings.free_gift_threshold | plus: 0 %}
      {% assign cart_total = cart.total_price | money_without_currency | plus: 0 %}
      {% assign difference = free_gift_threshold | minus: cart_total %}
      {% assign percent_bought = cart_total | times: 100 | divided_by: free_gift_threshold | floor %}

      <div class="gift-wrap {% unless settings.free_gift_active %}hidden{% endunless %}">
        <div class="gift-title"> 
          {% if cart_total <= free_gift_threshold %}
            You are <span class="gift-price 1">${{ difference }}</span> away from getting a gift.
          {% else %}
            You are <span class="gift-price 2">$0</span> away from getting a gift.
          {% endif %}
        </div>

        <div class="line">
          <span class="line-active" style="width: {{percent_bought}}%;"></span>
          <span class="icon">
            {% render 'icons', icon: 'icon-border' %}
            {% render 'icons', icon: 'icon-gift' %}
          </span>
        </div>
      </div>

      <div class="empty-text">Your cart is empty</div>

      <form action="{{ routes.cart_url }}" id="CartDrawer-Form" method="post">
      <div class="product-items" id="product-items">
        {% for item in cart.items %}
 
          <div class="cart-product" poduct-name="{{ item.title }}" data-index="{{ item.index | plus: 1 }}"
            id="{{ item.product.id }}" data-product-key="{{ item.key }}" data-index="{{ item.index | plus: 1 }}">
            <div class="image">
              <img class="cart-item__image"
                  src="{{ item.image | image_url: width: 220 }}"
                  alt="{{ item.image.alt | escape }}"
                  loading="lazy" width="110"
                  height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}">
            </div>
            
            <div class="info">
              <div class="product-title">
                {{ item.product.title }}
                {%- if item.original_line_price != item.final_line_price -%}
                  <span>Free Gift</span>
                {% endif %}
              </div>

              {%- liquid
                if use_variant
                    assign target = item.product.selected_or_first_available_variant
                else
                    assign target = item.product
                endif
  
                assign compare_at_price = target.compare_at_price
                assign price = target.price | default: 1999
                assign available = target.available | default: false
                assign money_price = price | money
                if settings.currency_code_enabled
                    assign money_price = price | money_with_currency
                endif
  
                if target == product and product.price_varies
                    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
                endif
              -%}

              <div class="product-price {%- if available == false %} price--sold-out {% endif -%} {%- if compare_at_price > price %} price--on-sale {% endif -%}
                {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}" 
                  data-price-total="{{ item.final_line_price | money_without_currency }}" data-price-single="{{ price | money_without_currency }}">
                  {%- if item.original_line_price != item.final_line_price -%}
                    <span class="price price-total">{{ item.final_line_price | money_without_currency }} USD</span>
                  {%- else -%}
                    <div class="price__sale">
                      {%- unless product.price_varies == false and product.compare_at_price_varies %}
                          <span class="price price-total price-item price-item--sale price-item--last"> {{ money_price }} </span>
                          <span class="devider">-</span>
                          <span class="price price-with-sale price-item price-item--regular">
                          {% if settings.currency_code_enabled %}
                              {{ compare_at_price | money_with_currency }}
                          {% else %}
                              {{ compare_at_price | money }}
                          {% endif %}
                      </span>
                      {%- endunless -%}
                    </div>
                    <div class="price__regular">
                        <span class="price price-total price-item price-item--regular">{{ money_price }}</span>
                    </div>
                  {%- endif -%}
              </div>
  
              <div class="product-group">
                <div class="product-form__quantity">
                  <quantity-input class="quantity {% if item.original_line_price != item.final_line_price %} quantity-disabled{% endif %}">
                    <button class="quantity__button button-hover" name="minus" type="button">
                      {% render 'icons', icon: 'icon-minus' %}
                    </button>
                    
                    <input class="quantity__input" type="number" name="quantity" disabled min="0" value="{{ item.quantity }}">
  
                    <button class="quantity__button button-hover" name="plus" type="button" {% if item.variant.inventory_quantity <= item.quantity %} disabled="disabled"{% endif %}>
                      {% render 'icons', icon: 'icon-plus' %}
                    </button>
                  </quantity-input>
                </div>
  
                <button class="button-remove button-hover" name="remove" type="button">
                  {% render 'icons', icon:'icon-close' %}
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      </form>
    </div>
    <div class="cart-bottom">
      <div class="cart-totals" id="cart-totals" role="status">
        <h2 class="cart-totals-title">Subtotal:</h2>
        <p class="cart-totals-value" data-value="{{cart.total_price | money_without_currency | plus: 0}}">{{ cart.total_price | money_with_currency }}</p>
      </div>

      <button type="submit" id="CartDrawer-Checkout" class="cart-checkout" name="checkout" form="CartDrawer-Form" {% if cart == empty %} disabled{% endif %}>
        <span>Checkout</span>
      </button>
    </div>
  </div>
</div>